<div class="alert alert-primary display-2 fw-bold text-center">Welcome To Programming Academy</div>
<br />
<h1>About Us:</h1>
<br />
<div style="display:flex">
    <div style="margin:5px">
        <h2>Our History</h2>
        <p class="fw-normal">
            When we started Programming Academy, our goal was to give anyone in the world the ability to learn the skills they’d need to succeed in the 21st century. We set out to create a new, interactive way of learning — making it engaging, flexible, and accessible for as many people as possible. Since then, we have helped millions of people worldwide unlock modern technical skills and reach their full potential through code.
        </p>
    </div> &nbsp;
    <div style="margin:5px">
        <h2>Our Mission</h2>
        <p class="fw-normal ">
            We want to create a world where anyone can build something meaningful with technology, and everyone has the learning tools, resources, and opportunities to do so. Code contains a world of possibilities — all that’s required is the curiosity and drive to learn. At Programming Academy, we are committed to empowering all people, regardless of where they are in their coding journeys, to continue to learn, grow, and make an impact on the world around them.

        </p>
    </div>
</div>
<br />
<dl>
    <dt>Examples of our courses</dt>
    <dd>C</dd>
    <dd>C#</dd>
    <dd>C++</dd>
    <dd>Java</dd>
    <dd>Java Script</dd>
    <dd>AI</dd>
    <dd>and more...</dd>
</dl>

